body {
  margin: 0px;
}

* {
  font-family: "Jost";
  line-height: 110.5%;
}

.main-header {
  display: flex;
  width: 100%;
  height: 80px;
}

.header-content {
  display: flex;
  padding: 0px 80px;
  align-items: center;
  width: 100%;
}

.header-text {
  margin-left: auto;
  font-size: 14px;
  line-height: 15.47px;
  cursor: pointer;
}

.flag-container {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
}

.flag-container img {
  height: 18px;
  padding: 10px;
  width: 32px;
  cursor: pointer;
}

.first-section {
  margin: 0px 80px;
  background-image: url("./assets/01.png");
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  left: 80px;
  top: 80px;
}

.app-logo {
  background-color: white;
  padding: 5px 40px 15px 20px;
  position: absolute;
}

.app-subtitle {
  background-color: white;
  padding: 30px 60px 30px 60px;
  font-size: 36px;
  margin-top: auto;
  margin-left: auto;
  width: fit-content;
}

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

.second-section {
  margin-top: 100px;
  background: rgba(200, 206, 196, 0.5);
  width: 75%;
  height: 719px;
  display: flex;
}

.second-section-text {
  margin: auto auto auto 15%;
  width: 50%;
  font-size: 20px;
  line-height: 180%;
}

.second-image {
  position: relative;
  left: 21%;
  top: 35%;
}

.third-section {
  margin-top: -100px;
  display: flex;
  padding-left: 100px;
}

.third-image {
  position: relative;
}

.third-section-text {
  margin: auto 15% 0px auto;
  width: 30%;
  font-size: 20px;
  line-height: 180%;
}

.fourth-section {
  display: flex;
  background-color: #ede6e0;
  width: 70%;
  margin-top: 175px;
  height: 719px;
  margin-left: auto;
}

.fourth-image-1 {
  height: 80%;
  margin: auto 0px;
  position: relative;
  left: -10%;
}

.fourth-image-2 {
  height: 95%;
  position: relative;
  margin: auto 0px;
  top: 40%;
}

.fifth-section {
  margin-top: 325px;
  width: 75%;
  display: flex;
}

.fifth-section-text {
  margin: auto auto auto 15%;
  width: 40%;
  font-size: 20px;
  line-height: 180%;
}

.sixth-section {
  background: #e6eef4;
  margin-top: 230px;
  width: 75%;
  height: 719px;
  display: flex;
}

.sixth-image-1 {
  margin-left: auto;
  bottom: 25%;
  position: relative;
  left: 15%;
  height: 90%;
}

.sixth-image-2 {
  margin: auto;
  margin-left: auto;
  position: relative;
  left: 15%;
  top: 50%;
}

.seventh-section {
  margin-top: 400px;
  display: flex;
}

.seventh-section-text {
  margin: auto 15% 0px auto;
  width: 30%;
  font-size: 20px;
  line-height: 180%;
}

.footer-section {
  margin-top: 200px;
  display: flex;
  flex-direction: row;
}

.footer-left-section {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 5% 0px;
}

.footer-right-section {
  display: flex;
  flex-direction: column;
  background: #e4e7e2;
  width: 55%;
}

.footer-left-section > .first-half {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
}

.footer-left-section > .first-half > p {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
}

.footer-left-section > .second-half {
  margin-left: 15%;
  margin-right: 15%;
}

.footer-left-section > .second-half > p {
  padding: 0px 0px;
  display: flex;
  flex-direction: column;
}

.footer-left-section > .second-half > p > span {
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
}

.footer-right-section-img {
  margin: 10% auto;
  width: fit-content;
}

.footer-right-section-text {
  margin: 0px auto auto auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-right-section-text > a {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  font-size: 20px;
  line-height: 207.5%;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.footer-right-section-img > span {
  font-size: 20px;
  line-height: 207.5%;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1156px) {
  .header-content {
    padding: 0px 35px;
  }

  .first-section {
    margin: 0px 35px;
  }

  .second-section {
    height: auto;
  }

  .second-image {
    left: 17%;
  }

  .second-section-text {
    margin: auto auto auto 7%;
  }

  .third-section {
    margin-top: 100px;
    padding-left: 5%;
  }

  .third-section-text {
    margin: auto 5% auto auto;
  }

  .fourth-section {
    width: 95%;
  }

  .fourth-image-1 {
    left: -3%;
    width: 70%;
  }

  .fourth-image-2 {
    height: 75%;
    margin: auto 2%;
  }

  .sixth-section {
    width: 95%;
  }

  .sixth-image-2 {
    left: 5%;
    height: 80%;
  }

  .sixth-image-1 {
    left: 2%;
    height: 80%;
  }

  .footer-right-section-text {
    margin: 15% auto auto auto;
  }
}

@media screen and (max-width: 800px) {
  .app-logo {
    padding: 5%;
    position: inherit;
  }

  .app-subtitle {
    padding: 5%;
    font-size: 24px;
  }

  .header-content {
    padding: 0px 30px;
  }

  .first-section {
    margin: 0px 30px;
  }

  .second-section {
    flex-direction: column;
    width: 100%;
  }

  .second-section-text {
    margin: 10% 15%;
    width: auto;
  }

  .second-image {
    margin: 5% auto;
    position: inherit;
    left: 0%;
    top: 0%;
    object-fit: inherit;
    width: fit-content;
    max-width: 80%;
  }

  .third-section {
    padding-left: 0%;
    flex-direction: column;
  }

  .third-image {
    position: inherit;
    margin: 5%;
    margin: 5% auto;
    max-width: 80%;
  }

  .third-section-text {
    margin: 10% 15%;
    width: auto;
  }

  .fourth-section {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .fourth-image-1 {
    left: 0%;
    margin: -85px auto 0px auto;
    top: -10%;
    width: auto;
    max-width: 80%;
  }

  .fourth-image-2 {
    width: auto;
    margin: 85px auto -150px auto;
    top: 5%;
    max-width: 80%;
  }

  .fifth-section {
    margin-top: 285px;
    width: 100%;
  }

  .fifth-section-text {
    margin: 10% 15%;
    width: 100%;
  }

  .sixth-section {
    width: 100%;
    flex-direction: column;
    margin-top: 125px;
  }

  .sixth-image-2 {
    left: 0%;
    top: 0%;
    margin: -85px auto 0px auto;
    width: auto;
    max-width: 80%;
  }

  .sixth-image-1 {
    left: 0%;
    margin: 85px auto -150px auto;
    width: auto;
    bottom: 0%;
    max-width: 80%;
  }

  .seventh-section {
    margin-top: 450px;
  }

  .seventh-section-text {
    width: 100%;
    margin: 10% 15%;
  }

  .footer-section {
    margin-top: 100px;
    flex-direction: column;
  }

  .footer-left-section {
    width: 100%;
    text-align: center;
  }

  .footer-right-section {
    width: 100%;
  }

  .footer-right-section-text {
    margin: 10% auto;
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 0.7s ease-in-out both;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}